@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  background:linear-gradient(to right, #e55d87, #5fc3e4); /* Default for theme-1 */
  --btn-color: #3b82f6;
  --h2-color: #ffffff;
  --h4-color: white;
  --h3-color:rgb(207, 202, 202);
  --paragraph-color: black;
  background-attachment: fixed; /* Keeps the background fixed */
  will-change: background;
}
.shadow-m{
  box-shadow: rgba(249, 249, 255, 0.322) -1px 2px 30px 3px inset;
}
.theme-2{
  background: -webkit-linear-gradient(to right, #dd3e54, #6be585); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dd3e54, #6be585);
  --btn-color: #fca5a5;
  --h2-color: #fff;
  --h4-color: white;
  --h3-color:rgb(207, 202, 202);
  --paragraph-color: #f9fafb;
}
.theme-3{
  --bg-color: #374151; /* Theme-3 */
  --btn-color: #6b7280;
  --h2-color: #ffffff;
  --h4-color: white;
  --h3-color:rgb(207, 202, 202);
  --paragraph-color: #d1d5db;
}
.theme-4{
  background: #0b486b;
  background: linear-gradient(
    92.23deg,
    #0081A7 11.43%,
    #00AFB9 50.63%,
    #FED9B7 100%,
    #F07167 117.04%
  );
  background-size: 400% 400%;
  animation: color 15s ease-in-out infinite;
  --btn-color: #00AFB9 50.63%;
  --h2-color:white;
  --h4-color: white;
  --h3-color:rgb(207, 202, 202);
  --paragraph-color: #d1d5db;
}
@keyframes color {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
  
}

/* .btn 
  background: linear-gradient(
    92.23deg,
    #0081A7 11.43%,
    #00AFB9 50.63%,
    #FED9B7 100%,
    #F07167 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #00AFB9 10.43%,
    #F07167 100.63%,
    #FED9B7 100%,
    #0c6480 117.04%
  );
  border: 1px solid white; 
   
} */

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #00AFB9 10.43%,
    #F07167 100.63%,
    #FED9B7 100%,
    #0c6480 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply bg-theme-1-background font-secondary text-lg leading-8;
  }
  .h2 {
    @apply font-primary text-theme-1-h2 text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary text-theme-1-h3 font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply bg-theme-1-btn rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text to-[#7b4397] from-[#dc2430] font-extrabold uppercase font-primary hover:from-[#0c6480] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  h4{
    @apply text-theme-1-h4
  }
  h2{
    @apply text-theme-1-h2 font-primary
  }
  p{
    @apply text-theme-1-p
  }

}

.custom-border-radius {
  border-radius: 0% 100% 16% 84% / 99% 13% 87% 1%;
}

.holder:before,
.holder:after {
  animation: orbit 10s linear infinite;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  content: '';
  height: 150px;
  position: absolute;
  width: 150px;
}
.holder:before {
  background:linear-gradient(
    92.23deg,
    #00AFB9 10.43%,
    #F07167 100.63%,
    #FED9B7 100%,
    #0c6480 117.04%
  );;

}
.holder:after {
  animation-delay: 5.5s;
  background: linear-gradient(
    92.23deg,
    #00AFB9 10.43%,
    #F07167 100.63%,
    #FED9B7 100%,
    #0c6480 117.04%
  );;
  /* background: -moz-radial-gradient(bottom right, #e0e793, #6dd0f1);
  background: radial-gradient(to top left, #e0e793, #6dd0f1);
  background: -webkit-radial-gradient(bottom right, #e0e793, #6dd0f1); */
  right: 0;
  top: 0;
  z-index: -1;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

/* .card::before{
  content: '';
  position: absolute;
  width: 180px;
  height: 140%;
  background-color: transparent;
  border: 2px solid white;
  box-shadow: 0 0 20px rgb(8,8,8);
  animation: animate 4s linear infinite;
}
.box::after{
  content: '';
  position: absolute;
  inset: 10px;
  background-color: rgb(4,75,97);
  border-radius: 16px;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
} */

.glass{
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.icon-3 {
  animation: moveUpDown 3s infinite;
}

.icon-2 {
  animation: moveUpDown 2s infinite;
}

.icon-1 {
  animation: moveRightLeft 4s infinite;
}

@keyframes moveRightLeft {

  0%,
  100% {
    transform: translateX(0);
    
  }

  50% {
    transform: translateX(-10px);
        
  }
}
@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}